* {
}

body{
    margin: 0;
}
/* header styling */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: #fff;
}
.header-logo {
    font-size: 30px;
    font-weight: 700;
}
.hero-side button {
    border-style: none;
    background-color: #3883f6;
    color: #fff;
    padding: 10px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
a {
    text-decoration: none;
}

/* main styling */
main {
    display: flex;
    flex-direction: column;
}

/* intro styling */
.intro-section {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #fff;
}
.hero-side {
    width: 718px;
}
.hero-side h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bolder;
}
.intro-section img {
    height: 200px;
    width: 350px;
}

/* mid section styling */
.mid-section{
    margin: 0 350px;
}
h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.recipe-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.card {
    width: 300px;
}
.card img {
    width: 200px;
    height: 200px;
    
}

/* end section styling */
.end-section {
    background-color: #efe7eb;
    color: #1f2937;
    
}
.quote, .quote-author {
    margin: 100px 200px;
    font-size: 32px;
}
.quote {
    
    font-style: italic;
}
.quote-author {
    font: bold;
    text-align: right;
}

/*footer section */
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3883f6;
    margin: 100px 400px;
    color: #fff;
}
.footer-btn button {
    border: 1px solid #fff;
    background-color: #3883f6;
    color: #fff;
    padding: 15px;
    font-weight: bold;
}
.copyright p{
    margin: 0;
    padding: 20px;
    background-color: #1f2937;
    color: #fff;
    text-align: center;
}